<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuLqjbzAeNZTsO6xkzHKST6_m-l2BVyLI</string>
	<key>GCM_SENDER_ID</key>
	<string>76306597104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pizza</string>
	<key>PROJECT_ID</key>
	<string>pizza-delivery-c3f7b</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-delivery-c3f7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76306597104:ios:aec81bc043ff7aa9012e35</string>
</dict>
</plist>